//
//  Release.xcconfig
//  InstaBosta
//
//  Created by Mohamed Elatabany on 01/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SCHEME = https
HOST = jsonplaceholder.typicode.com
API_URL = $(SCHEME):/$()/$(HOST)
APP_NAME = InstaBosta



